

* {
  margin: 0;
  padding: 0;
}
/* Hide scrollbar but allow scrolling */
html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow: auto;
  scrollbar-width: none;         /* Firefox */
  -ms-overflow-style: none;      /* IE and Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;                 /* Chrome, Safari */
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  padding: 0;
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.3s;
  color: inherit;
}

.changeFont{
  animation-name: change-Font;
  animation-duration: 3s;
  animation-iteration-count: 20;
}

@keyframes change-Font {
  0% {
    font-family: PlainRegular;
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
  }
  25% {
    font-family: LatoLight;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 300;
  }
  50% {
    font-family: PlainRegular;
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
  }
  75% {
    font-family: LatoLight;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 300;
  }
  100% {
    font-family: PlainRegular;
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
  }
}

/* hero-image-animation */
#hero-image-animation:hover{
  -webkit-text-stroke: 1px #fff;
  text-decoration: none;
  color: transparent;
}

